.weather-preview-grid {
  display: flex;
  flex-direction: column;
}

.section1 {
  margin-bottom: 20px;
  position: relative;
}

.gridcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section3 {
  margin-top: 20px;
}


.weatherforecast {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 12px 30px;
  border-radius: 10px;
  margin-right: 20px;
  width: 100%;
  height: auto;
  width: 200px;
  margin-top: 20px;

}

.presentweather {
  background-color: white;
  padding: 12px 30px;
  border-radius: 10px;
  display: flex;
  height: 145px;

}

.info,
.time {
  font-weight: bold;
}

.details,
.currentweather {
  font-size: 15px;
  color: rgb(80, 80, 80);
  font-weight: 500;
}

.currentweather {
  margin-bottom: 4px;
  margin-left: -14px;
}

.time {
  margin-left: -14px;
}

.ms {
  position: relative;
}

.weathericon {
  width: 28px;
  margin-left: -170px;
  height: 35px;
}

.temperature {
  position: absolute;
  left: -140px;
}

.temperature {
  font-weight: 550;
  font-size: 30px;
  margin-bottom: 6px;
  position: relative;
  left: 0;
   margin-left: 10px;
}

.weathertype {
  margin-left: 30px;
  font-size: 15px;
  color: gray;
  margin-bottom: 18px;
}

.weatherdescription {
  position: absolute;
  white-space: nowrap;
  font-size: 16px;
  color: rgb(43, 43, 43);
  left: 10px;
  bottom: 20px;

}

.rs {
  height: 25px;
  margin-top: 15px;
}

.changeunit {
  height: 25px;
}

.sun-moon {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;

}

.Summary {
  font-size: 15px;
  color: rgb(80, 80, 80);
  font-family: 'Times New Roman'
}

.text {
  font-family: 'Times New Roman';
  font-size: 20px;
  font-weight: 600;
  color: gray;
  margin-top: 5px;
}

.Sun-rise,
.Sun-set,
.Moon-rise,
.Moon-set {
  font-size: 15px;
  color: rgb(80, 80, 80);
  font-family: 'Times New Roman'
}